:root {
    --dark: #4056A1;
    --light: #EFE2BA;
    --color-pop: #F13C20;
    --light-blue:#C5CBE3;
    --color-mid: #D79922;
}


body {
    padding: 20px;
    position: relative;
    background-color:var(--light);
}

header {
    background-color: var(--dark);
    color: var(--light-blue);
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: var(--light);
    text-decoration: none;
  }

.home-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.genre-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.genre-list {
    list-style: none;
    padding: 0;
}

.genre-item {
    display: flex;
    flex-direction: column; /* Updated */
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--light);
    overflow-x: auto;
    overflow-y: hidden;
}

.genre-item::-webkit-scrollbar {
    height: 8px;
}

.genre-item::-webkit-scrollbar-track {
    background: var(--light);
}

.genre-item::-webkit-scrollbar-thumb {
    background: var(--color-pop);
    border-radius: 10px;
}

.genre-item::-webkit-scrollbar-thumb:hover {
    background: var(--color-mid);
}

.genre-item img {
    max-width: 100px;
    margin-bottom: 10px; /* Added */
    display: grid;
}

.books {
    display: flex;
    flex-wrap: nowrap;
}

.book-card {
    width: 250px;
    height: 6;
    margin-right: 10px;
    position: fixed;
    display: grid;
    justify-content: center; /* Added */
    align-items: center; /* Added */
}

footer {
    background-color: var(--dark);
    color: var(--light-blue);
    padding: 10px;
    text-align: center;
  }

footer p {
    margin: 0;
  }

